﻿@{
ViewBag.Title = "Currently only Lecturer design is complete.";
Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-flex justify-content-between align-items-center mb-4">
	<h2>Currently only Lecturer design is complete.</h2>
</div>