﻿@{
ViewBag.Title = "Add Claim";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-lg-8 mc-auto">
		<div class="card">
			<div class="card-header">
				<h3>New Claim</h3>
			</div>
			<div class="card-body">
				<form>
					<div class="mb-3">
						<label class="form-label">Current Date</label>
						<input type="text" class="form-control" placeholder="Enter Date" />
					</div>
					<div class="mb-3">
						<label class="form-label">Claim Amount</label>
						<input type="text" class="form-control" placeholder="Enter Amount" />
					</div>
					<div class="mb-3">
						<label class="form-label">Lecturer ID</label>
						<select class="form-select">
							<option>Select ID</option>
							<option>LecturerID_1</option>
							<option>LecturerID_2</option>
							<option>LecturerID_3</option>
							<option>LecturerID_4</option>
							<option>LecturerID_5</option>
						</select>
					</div>
					<div class="mb-3">
						<label class="form-label">Supporting Documents</label>
						<input type="file" class="form-control"></input>
						<small class="form-text text-muted">Upload supporting documents, table pof contents etc</small>
					</div>

					<div class="d-grid gap-2 d-md-flex justify-content-md-end">
						<a href="/Lecturer" class="btn btn-secondary me-md-2">Cancel</a>
						<button type="submit" class="btn btn-primary">Add Claim</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>