@model List<_10433939_PROG6212_POE_P1.Models.Claim>

﻿@{
	ViewBag.Title = "My Claims";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between align-items-center mb-4">
	<h2> My Claims</h2>
	<a href="/Claims/Add" class="btn btn-primary"> + Add New Claim </a>
</div>

<!--Claim Table-->
<div class="card">
	<div class="card-body">
		@if (Model.Count == 0)
		{
			<div class="text-center py5">
				<p class="text-muted">No Claim submitted yet.</p>
				<a href="/Claim/Add" class="btn btn-primary">Add your first Claim</a>
			</div>
		}
		else
		{
			<table class="table">
				<thead>
					<tr>
						<th>Lecturer Name</th>
						<th>Hours Worked</th>
						<th>Hourly Rate</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var claim in Model)
					{
						<tr>
							<td><strong>@claim.LecturerName</strong></td>
							<td>@claim.HoursWorked</td>
							<td>@claim.HourlyRate</td>
							<td>
								@if (claim.Status == _10433939_PROG6212_POE_P1.Models.ClaimStatus.Pending)
								{
									<span class="badge bg-warning text-light">Pending</span>
								}
								else if (claim.Status == _10433939_PROG6212_POE_P1.Models.ClaimStatus.Declined)
								{
									<span class="badge bg-danger text-light">Declined</span>
								}
								else if (claim.Status == _10433939_PROG6212_POE_P1.Models.ClaimStatus.Approved)
								{
									<span class="badge bg-success text-light">Approved</span>
								}
								else
								{
									<span class="badge bg-success text-light">Verified</span>
								}
							</td>
							<td>
								<a href="/Claims/Details/@claim.Id" class="btn btn-sm btn-outline-primary">View Details</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		}

	</div>
</div>