﻿@{
ViewData["Title"] = "Home Page";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ="row">
    <div class="text-center">
        <h1 class="display-4">
            Contract Monthly Claim System
        </h1>
    </div>
</div>

<!--Card Section-->
<div class="row">
    <div class="card">
        <div class="card-body text-center">
            <h3 class="card-title">
                Lecturer
            </h3>
            <p class="card-text">
                Use this button to continue as a Lecturer
            </p>
            <a href="/Claims" class="btn btn-primary">Lecturer</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <h3 class="card-title">
                Programme Manager
            </h3>
            <p class="card-text">
                Use this button to continue if as a Programme Manager
            </p>
            <a href="/Manager" class="btn btn-primary">Manager</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <h3 class="card-title">
                Academic Coordinator
            </h3>
            <p class="card-text">
                Use this button to continue as an Academic Coordinator
            </p>
            <a href="/Coordinator" class="btn btn-primary">Coordinator</a>
        </div>
    </div>
</div>